@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --color-primary: var(--color-neutral-800);
    --color-secondary: var(--color-neutral-500);
    --color-shadow: var(--color-neutral-100);
    --color-shadow-custom: 0 0 0;

    @variant dark {
      --color-primary: var(--color-neutral-100);
      --color-secondary: var(--color-neutral-400);
      --color-shadow: var(--color-neutral-950);
      --color-shadow-custom: 255 255 255;
    }
  }
}
@theme inline {
  --shadow-custom:
    0px 2px 3px -1px rgba(var(--color-shadow-custom) / 0.1),
    0px 1px 0px 0px rgba(var(--color-shadow-custom) / 0.02),
    0px 0px 0px 1px rgba(var(--color-shadow-custom) / 0.08);
  --shadow-section:
    rgba(34, 42, 53, 0.06) 0px 0px 24px, rgba(0, 0, 0, 0.05) 0px 1px 1px,
    rgba(34, 42, 53, 0.04) 0px 0px 0px 1px, rgba(34, 42, 53, 0.08) 0px 0px 4px,
    rgba(47, 48, 55, 0.05) 0px 16px 68px,
    rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
  --shadow-section-inset:
    0px 1px 4px 0px var(--color-shadow) inset,
    0px -1px 4px 0px var(--color-shadow) inset;

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-shadow: var(--color-shadow);
  --color-shadow-custom: var(--color-shadow-custom);
}
