@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --color-primary: var(--color-neutral-800);
    --color-secondary: var(--color-neutral-500);
    --color-shadow: var(--color-neutral-100);
    --color-shadow-custom: 0 0 0;

    @variant dark {
      --color-primary: var(--color-neutral-100);
      --color-secondary: var(--color-neutral-400);
      --color-shadow: var(--color-neutral-950);
      --color-shadow-custom: 255 255 255;
    }
  }
}

@theme inline {
  --shadow-custom:
    0px 2px 3px -1px rgba(var(--color-shadow-custom) / 0.1),
    0px 1px 0px 0px rgba(var(--color-shadow-custom) / 0.02),
    0px 0px 0px 1px rgba(var(--color-shadow-custom) / 0.08);
  --shadow-section:
    rgba(34, 42, 53, 0.06) 0px 0px 24px, rgba(0, 0, 0, 0.05) 0px 1px 1px,
    rgba(34, 42, 53, 0.04) 0px 0px 0px 1px, rgba(34, 42, 53, 0.08) 0px 0px 4px,
    rgba(47, 48, 55, 0.05) 0px 16px 68px,
    rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
  --shadow-section-inset:
    0px 1px 4px 0px var(--color-shadow) inset,
    0px -1px 4px 0px var(--color-shadow) inset;

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-shadow: var(--color-shadow);
  --color-shadow-custom: var(--color-shadow-custom);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.grainy-text {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-blend-mode: overlay;

  --noise: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAwIDIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZmlsdGVyIGlkPSJub2lzZUZpbHRlciI+PGZlVHVyYnVsZW5jZSB0eXBlPSJmcmFjdGFsTm9pc2UiIGJhc2VGcmVxdWVuY3k9IjAuODAiIG51bU9jdGF2ZXM9IjMiIHN0aXRjaFRpbGVzPSJzdGl0Y2giLz48L2ZpbHRlcj48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWx0ZXI9InVybCgjbm9pc2VGaWx0ZXIpIi8+PC9zdmc+");

  background-image:
    var(--noise), linear-gradient(135deg, #9013fe 0%, #5b21b6 100%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  .grainy-text {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-blend-mode: overlay;

    --noise: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAwCAMAAAB64Ok7AAAATlBMVEUAAABcUuRkWuRUSuR8euxkYuSEeux0cuR8duxsauRsYuR8cuRcTuRkVuR0auRURuR8euRkXuSEeuR0buRUTuSEfuxcVuR8duRsZuRMRuR2nIJuAAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAABsxJREFUSIkdVu1iqzAIFei0go2SpEDf/0Xvyf3TrZsmwPlioxi9WfG0nrpLqQTVJ61iNBX7Vi8RN/IiO4ToFKs7djnGpZtSRaOoFOn63GTOJLNs4F0qDz6ihsYlmZLWWhPudbmQmm+WZvnC4yVMB/t43VOzkXDku18WxmqZg83HGB1n2qQxit3HhqqeyQMVS+xObLpuPPCRFaZalfPaPzT5UP3JnejRplQbT2777ppDW/lAsVKPhzN/+mpzOCmLK+feptbMYUa3DL7aD190azm5eQtuNTsGYq5Gg9G5Hhd+N2Y0/UjP+PV9UJsdp0a1+dCGKp+poYnqcDmzsmIcJmhBQ85pFoRGmlfngdYHPin0oJdtxUzVceFkM6chq1ZXwg8jGevjQVV0M/G94OvaswPeP9INB9K0dRm3JJ+To2FQLehiYI3Jj5y4NAflmGHxyBwZhH/KBn5891MwjlPE7o5319NzfH/6CiAYtzSLnuMWKlIB3NlQQaps9eB8khZzUFfCbDPanCn1TQfh9q8DMJcuM4JwjBSDUS7MtqE3fmGQ7UA5cbY+DRNxGW1wFnGPNVK/LwytdGZ5di0Jm+6b+jxNUd/NMiblQ7Oj2KJ2PDevK8BdIrSlbqVnsFW2rGnt2MbEn1Qw1zlQrs2TX/nlH15/2gE4/dG7XebpebW3D/rY9zljpI2NRHlgujJqkQFy4tZ9mqM1yGgefEgCu+7HSDzGwTzzM4HMe6vf6CCeHqB/eE1RnXUo1zFMNL37qlYXHRL0UUXX6MXrO9uGMXTT+sbJvCfIB5SjyggCuylfqPZwdUx6EqF/qx/kVeDSjI2fusEuHYn+7smg0gndR/BrvvRsFef0I7MOFkZZdtMXXKQBIEDPM/WkM3eeLHGNiCzzACrK9kkJeMlsYqAgbMDf8wgOeEEwrWmHwVwEFtTQ2+iP6Cj/5onjmhN5pwGaAMKz1O/vqD2zE1Dc+ni7JR6CNGTyjwcXwUnGPQDLeKnMeT2OZ4ccAoQI0tXx14Y1vDxR3lCIwxzEehYhXgT/2DFusj+PZLiMeEKQL+W7LphMi27PhkcLQGRrAVDgfcxoez9RW3O8nfwRAf3aAKmdntNn3mABBGZbA3fl0aHDde7wEK2uytAJrLHdhQnDV2CABOuDRz4h4+dlNSm2UvjpYyOcPL5R1w7rygtmGgI3RGeKmYJ/NuG7cKX6KTQyYRmxPa1h6o7r4XMhrc4LuseF0/HVITEfAAJXwz0GXI/uBsnD1M627RPNlr6IA0qTEUNh9UZH2S02aAeANW6X44BnvFqew+h/d+HbPKCJUyBMRIcUBm5d9yVuggrU9OjIlz+FATAGDwT2Uwm9AL0N/kI9mczkfifRvMGUjIUPYqZH0tsZbK1+wH7zk9P2OB/hWbSVfGE9sM1+DEQcAm9paygcCJDkCp62kur2xIiy4VH0bFRStYXb3XyowU73iB8MjODSj8MTr7JGy1P/mIUgTm7gmNGOhAErYhvIsoaAgOdNsn4+FkiYNvz5CnBRvACuHbW/g2zviFspGJOAkmPz3qon5vtB1HL384H0qngX+FSCK/Nu6wgw7QdNIo47OoHJwyFAz0b2lqch3g7SOfs1VfiApfTwcZWYn2h7DD1R+nfOscB0qFI2mD889o1OBlwRY6JeGDVfgP6uAmCIVBgdQjgY8THB8BbnwKWvDTYLJ08ujHwvxtVX18QcJLAmFGqHbqTJNdvpmMaBJWDHGTtzbjO/Y8yB0pCcIsgkQSACPVo/WHeE7YlGbbiDRmswCJpaIXpsyU9QpjGt/Arfo3VoYNx6fK8HRa8zr9ZgSu43pAZK1B5z4vwNDcIgfa7tRfMH+aFwBLYjtuDaNyYdZXsDeAd8j2j/dcDfYU73lvfsdh4MLbVfrouaAvo/kElWaMuFspdb1x8GEAI6wFfw6+iMiN0nBAL1CS7/4iSDEdc1kAnAG4DuKxz5BrFwsvMBUcs3gI1tFAwm81oE7varhmVJ+dF3h0PksnnkBcXtXb0n8rg0Vms3tDQ3IN6u4NGwM2W7qGO9kfaOVV0D/WkiwCEzOMZ6FLYp2rDtUA8kRm8IrowrQDsc0QwnqH/giPxD/H/6K18xJDusCLrLHcOd4wePxyrlAba2z4kR/jd9ZLQjDx/jfhNsC27/qA+DqXmeKPZY+tVOmPZtBUn96OvwAEq7bHksbpiwGqyjNxZUWnFyTkZk/vcShNx8MmzDdgPNKTbJP27XA/TX9rSYj5S5eF9TX/sB4gJ5hv1LV+Ah0JvODW0hl3E4xPfa+yIlKhCgDgvBbhQIvOyv+RfHTXy2hTSiCDbb5R8uzJgbtdSXFwAAAABJRU5ErkJggg==");
    background-image:
      var(--noise), linear-gradient(135deg, #4f46e5 0%, #4f46e5 100%);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
